<!-- BRIDAL PARTY -->
<section id="bridal-party" class="section section-bridal-party">
	<div class="container text-xs-center" style="max-width: 1000px;">

		<header class="header text-xs-center">
			<h2>Bridal Party</h2>
		</header>

		<div class="row">
			<div class="col-md-3">
				<h3 class="mb-2 text-xs-left">Bridemaids</h3>
			</div>
			<div class="col-md-9">
				<ul class="block-grid-xs-1 block-grid-md-3">
					<li>
						<p><img width="100%" class="rounded-circle" src="http://placehold.it/250x250" alt="Grace"></p>
						<h4 class="font-family-serif">Grace</h4>
						<h5>Maid of Honour</h5>
					</li>
					<li>
						<p><img width="100%" class="rounded-circle" src="http://placehold.it/250x250" alt="Grace"></p>
						<h4 class="font-family-serif">Clarian</h4>
						<h5>Bridesmaid</h5>
					</li>
					<li>
						<p><img width="100%" class="rounded-circle" src="http://placehold.it/250x250" alt="Grace"></p>
						<h4 class="font-family-serif">Maddy</h4>
						<h5>Bridesmaid</h5>
					</li>
				</ul>
			</div>
		</div>

		<div class="row">
			<div class="col-md-3">
				<h3 class="text-xs-left">Groomsmen</h3>
			</div>
			<div class="col-md-9">
				<ul class="block-grid-xs-1 block-grid-md-3">
					<li>
						<p><img width="100%" class="rounded-circle" src="http://placehold.it/250x250" alt="Grace"></p>
						<h4 class="font-family-serif">Danny</h4>
						<h5>Best Man</h5>
					</li>
					<li>
						<p><img width="100%" class="rounded-circle" src="http://placehold.it/250x250" alt="Grace"></p>
						<h4 class="font-family-serif">Calum</h4>
						<h5>Groomsman</h5>
					</li>
					<li>
						<p><img width="100%" class="rounded-circle" src="http://placehold.it/250x250" alt="Grace"></p>
						<h4 class="font-family-serif">Jamie</h4>
						<h5>Groomsman</h5>
					</li>
				</ul>
			</div>
		</div>
	</div>
</section>