{% assign settings = site.data.settings %}
{% assign logo = "http://placehold.it/250x150" %}

<!-- LOGO -->
<a class="logo" href="/" title="{{ settings.seo_title }}" itemprop="url">
    <!-- <img src="{{ logo }}" alt="{{ settings.company_title }}" itemprop="logo"> -->
    <span class="text"><span class="brand-quaternary-color">#</span>TheWeddingWarren</span>
</a>

<!-- HAMBURGER -->
<div class="global-mobile-menu hidden-md-up">
    <div class="lv-hamburger" data-menu-toggle>
        <span class="lv-hamburger-top"></span>
        <span class="lv-hamburger-middle"></span>
        <span class="lv-hamburger-bottom"></span>
        <span class="lv-hamburger-hit"></span>
    </div>
</div>