{% comment %}
    LIQUIDVISUAL-HERO

    - updated: 06.10.16
    - notes:
        * Multiple items in carousel_slides.yml triggers carousel mode
        * .has-auto-height - caption will detemine height
        * .has-fixed-height - used for internal pages to set a height
{% endcomment %}

{% assign hero_images = site.data.carousel_slides %}

<div class="lv-hero-wrapper">

    <!-- HERO -->
    <div class="lv-hero">

        {% for hero in hero_images %}

            <!-- HERO ITEM -->
            <div class="lv-hero-item">
                <div class="lv-hero-item-table">
                    <div class="lv-hero-item-cell v-align-middle">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-6 offset-lg-3 text-xs-center">
                                    <div class="lv-hero-item-caption animated fadeInLeft">
                                        <h1>
                                            <span class="mitch">Mitchell</span>
                                            <span class="anne"><span class="ampersand">&amp;</span> Anne</span>
                                            <span class="desc">Are getting married</span>
                                        </h1>
                                        <date>17 March 2017</date>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        {% endfor %}

    </div> <!-- /.lv-hero -->
</div> <!-- /.lv-hero-wrapper -->