/*
    HERO.CSS

    - updated: 07.12.16
    - notes:
        * liquidvisual recommends bxSlider for hero carousels
        * fixed overflow problem when removing JS
*/
//-----------------------------------------------------------------
// Variables
//-----------------------------------------------------------------

$hero-height-sm:            auto          !default; // IMPORTANT: if carousel slides, you need a fixed height
$hero-height-md:            rem-calc(768) !default;
$hero-height-md-fixed:      rem-calc(768) !default;
$hero-height-lg:            rem-calc(768) !default;
$hero-carousel-bullet-size: rem-calc(16)  !default;

//-----------------------------------------------------------------
// HERO WRAPPER
//-----------------------------------------------------------------

.lv-hero-wrapper {
    position: relative;
    overflow: hidden;
}

//-----------------------------------------------------------------
// HERO
//-----------------------------------------------------------------

.lv-hero {
    // width: 100%; // added last minute - breaking?
    height: $hero-height-sm;
    overflow: hidden; // causes problems without JS

    @include media-breakpoint-up(md) {
        height: $hero-height-md;
    }

    @include media-breakpoint-up(lg) {
        height: $hero-height-lg;
    }
}

//-----------------------------------------------------------------
// Hero Item (Slides)
//-----------------------------------------------------------------

.lv-hero-item {
    // float: left;
    width: 100%; // need
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    // background-color: rgba($brand-primary, 0.2);

    &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
    }

    //=========================================
    // For Positioning Captions
    //=========================================

    .lv-hero-item-table {
        display: table;
        width: 100%;
        height: 100%;
        position: relative;
        background: url(/assets/img/layout/point.png) no-repeat center bottom;
        background-size: contain;

        // ADDED SPECIAL FOR THIS
        @include media-breakpoint-down(sm) {
            padding: $header-height-sm 0;
        }

        .lv-hero-item-cell {
            display: table-cell;

            @include media-breakpoint-up(md) {
                vertical-align: middle;
            }
        }
    }
}

//-----------------------------------------------------------------
// Hero - Caption (MOVED TO SPECIAL)
//-----------------------------------------------------------------

.lv-hero-item-caption {
    display: inline-block; /* more flexibility */
    width: 100%; /* mobile */
    margin: rem-calc(50 0);

    @include media-breakpoint-up(md) {
        width: auto;
    }
}