<!DOCTYPE html>
<html class="no-js" {{ site.environment }}>
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.data.settings.description }}{% endif %}">
    <title>
        {% if page.url == '/' %}
            {{ site.data.settings.title_homepage }}
        {% else %}
            {{ page.title }} - {{ site.data.settings.title }}
        {% endif %}
    </title>

    <!-- CDN -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:400,600,700">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- FAV ICONS -->
    <link rel="apple-touch-icon" href="/assets/apple-touch-icon.png">
    <link rel="shortcut icon" href="/assets/favicon.ico">

    <!-- build:css({src,.tmp}) /assets/css/minified.css -->
    <link rel="stylesheet" href="/css/main.css">
    <!-- endbuild -->
</head>
<body class="{{ page.theme }}">

    {% include snippets/loader.html %}

    <div id="home" class="lv-page">

        {{ content }}

        <!-- FOOTER -->
        <footer class="global-footer">
            {% include footer.html %}
        </footer>

    </div> <!-- /.lv-page -->

    <!-- OFF-CANVAS MENU -->
    <nav class="lv-off-canvas" data-off-canvas-menu aria-hidden="true">
        {% include snippets/navigation.html sitemap=site.data.sitemap_after %}
    </nav>

    <!--[if lte IE 9]>
    <div class="lv-alert-bar">
        <p>You're using an outdated browser. Please <a title="Click me, you know you want to." href="http://outdatedbrowser.com">upgrade your browser</a> to improve your experience.</p>
        <span class="lv-alert-bar-close-btn">&times;</span>
        <div class="lv-blackout"></div>
    </div>
    <![endif]-->

    <!-- **** JAVASCRIPT **** -->

    <!-- <script src="/_bower_components/jquery/dist/jquery.min.js"></script> -->

    <!-- build:js(src) /assets/scripts/minified.js -->
    <script src="/_bower_components/tether/dist/js/tether.min.js"></script>
    <script src="/_bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/_bower_components/bootstrap-validator/dist/validator.min.js"></script>
    <script src="/_bower_components/bxSlider/dist/jquery.bxslider.min.js"></script>
    <script src="/_bower_components/magnific-popup/dist/jquery.magnific-popup.min.js"></script>

    <script src="/assets/webvisual/assets/scripts/liquidvisual/alert-bar.js"></script>
    <script src="/assets/webvisual/assets/scripts/liquidvisual/equal-height.js"></script>
    <script src="/assets/webvisual/assets/scripts/liquidvisual/hero.js"></script>
    <script src="/assets/webvisual/assets/scripts/liquidvisual/utilities.js"></script>
    <script src="/assets/webvisual/assets/scripts/liquidvisual/responsive-utility.js"></script>
    <script src="/assets/webvisual/assets/scripts/liquidvisual/key.js"></script>

    <script src="/assets/scripts/vendor/countdown.js"></script>
    <script src="/assets/scripts/vendor/headroom.js"></script>
    <script src="/assets/scripts/vendor/scroll-highlight.js"></script>
    <script src="/assets/scripts/vendor/jquery.scrollTo-1.4.3.1-min.js"></script>

    <script src="/assets/scripts/countdown.js"></script>
    <script src="/assets/scripts/off-canvas.js"></script>
    <script src="/assets/scripts/form-rsvp.js"></script>
    <script src="/assets/scripts/gallery.js"></script>
    <script src="/assets/scripts/instafeed.js"></script>
    <script src="/assets/scripts/main.js"></script>
    <!-- endbuild -->

    <!-- NO JAVASCRIPT WARNING -->
    <noscript>
        <div class="lv-alert-bar">
            <p>Your browser has Javascript disabled. Some features may be limited.</p>
        </div>
    </noscript>

</body>
</html>