<style>
.has-children {
    background: #DDE3EC;
    padding: 15px;
    border-radius: 4px;
    /*border: 1px solid red;*/
    overflow: hidden;
    position: relative;
}
</style>
<h2>Settings</h2>
<br>
<p>The following properties are accessible via <code>site.data.settings</code></p>
<br>
<form style="max-width: 600px">

    <!-- Second Level -->
    <section class="">
        <div class="form-group row">
            <label for="setting" class="col-sm-4 form-control-label">Cname</label>
            <div class="col-sm-8">

                <!-- Print Value as Normal -->
                <input type="text" class="form-control" id="setting" placeholder="" value="theweddingwarren.yourwebvisual.com">
            </div>
        </div>

        <!-- /.row -->
        
<!-- Show Expanded Underneath --></section>

    <!-- Second Level -->
    <section class="">
        <div class="form-group row">
            <label for="setting" class="col-sm-4 form-control-label">Title</label>
            <div class="col-sm-8">

                <!-- Print Value as Normal -->
                <input type="text" class="form-control" id="setting" placeholder="" value="The Wedding Warren">
            </div>
        </div>

        <!-- /.row -->
        
<!-- Show Expanded Underneath --></section>

    <!-- Second Level -->
    <section class="">
        <div class="form-group row">
            <label for="setting" class="col-sm-4 form-control-label">Seo title</label>
            <div class="col-sm-8">

                <!-- Print Value as Normal -->
                <input type="text" class="form-control" id="setting" placeholder="" value="The Wedding Warren">
            </div>
        </div>

        <!-- /.row -->
        
<!-- Show Expanded Underneath --></section>

    <!-- Second Level -->
    <section class="">
        <div class="form-group row">
            <label for="setting" class="col-sm-4 form-control-label">Company</label>
            <div class="col-sm-8">

                <!-- Print Value as Normal -->
                <input type="text" class="form-control" id="setting" placeholder="" value="">
            </div>
        </div>

        <!-- /.row -->
        
<!-- Show Expanded Underneath --></section>

    <!-- Second Level -->
    <section class="">
        <div class="form-group row">
            <label for="setting" class="col-sm-4 form-control-label">Description</label>
            <div class="col-sm-8">

                <!-- Print Value as Normal -->
                <input type="text" class="form-control" id="setting" placeholder="" value="">
            </div>
        </div>

        <!-- /.row -->
        
<!-- Show Expanded Underneath --></section>

    <!-- Second Level -->
    <section class="">
        <div class="form-group row">
            <label for="setting" class="col-sm-4 form-control-label">Site tagline</label>
            <div class="col-sm-8">

                <!-- Print Value as Normal -->
                <input type="text" class="form-control" id="setting" placeholder="" value="">
            </div>
        </div>

        <!-- /.row -->
        
<!-- Show Expanded Underneath --></section>

    <!-- Second Level -->
    <section class="">
        <div class="form-group row">
            <label for="setting" class="col-sm-4 form-control-label">Allow robots</label>
            <div class="col-sm-8">

                <!-- Print Value as Normal -->
                <input type="text" class="form-control" id="setting" placeholder="" value="false">
            </div>
        </div>

        <!-- /.row -->
        
<!-- Show Expanded Underneath --></section>

    <!-- Second Level -->
    <section class="">
        <div class="form-group row">
            <label for="setting" class="col-sm-4 form-control-label">Github repo owner</label>
            <div class="col-sm-8">

                <!-- Print Value as Normal -->
                <input type="text" class="form-control" id="setting" placeholder="" value="liquidvisual">
            </div>
        </div>

        <!-- /.row -->
        
<!-- Show Expanded Underneath --></section>

    <!-- Second Level -->
    <section class="">
        <div class="form-group row">
            <label for="setting" class="col-sm-4 form-control-label">Github repo path</label>
            <div class="col-sm-8">

                <!-- Print Value as Normal -->
                <input type="text" class="form-control" id="setting" placeholder="" value="https://github.com/liquidvisual/theweddingwarren.com">
            </div>
        </div>

        <!-- /.row -->
        
<!-- Show Expanded Underneath --></section>

    <!-- Second Level -->
    <section class="">
        <div class="form-group row">
            <label for="setting" class="col-sm-4 form-control-label">Github repo name</label>
            <div class="col-sm-8">

                <!-- Print Value as Normal -->
                <input type="text" class="form-control" id="setting" placeholder="" value="">
            </div>
        </div>

        <!-- /.row -->
        
<!-- Show Expanded Underneath --></section>

    <!-- Second Level -->
    <section class="">
        <div class="form-group row">
            <label for="setting" class="col-sm-4 form-control-label">Jekyll version</label>
            <div class="col-sm-8">

                <!-- Print Value as Normal -->
                <input type="text" class="form-control" id="setting" placeholder="" value="3.0.3">
            </div>
        </div>

        <!-- /.row -->
        
<!-- Show Expanded Underneath --></section>

    <!-- Second Level -->
    <section class="has-children">
        <div class="form-group row">
            <label for="setting" class="col-sm-4 form-control-label">Offices</label>
            <div class="col-sm-8">
                <a href="#">Expand
                    <i class="fa fa-caret-down"></i>
                </a>
            </div>
        </div>

        <!-- /.row -->
        
<!-- Show Expanded Underneath --><div class="form-group row">
            <label for="inputPassword" class="col-sm-4 form-control-label">Title</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="inputPassword" placeholder="text" value="Beachside Dojo">
            </div>
        </div>
        <div class="form-group row">
            <label for="inputPassword" class="col-sm-4 form-control-label">Address</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="inputPassword" placeholder="text" value="55 North Steyne<br>Manly NSW">
            </div>
        </div>
        <div class="form-group row">
            <label for="inputPassword" class="col-sm-4 form-control-label">Title</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="inputPassword" placeholder="text" value="Novotel Pacific Manly">
            </div>
        </div>
        <div class="form-group row">
            <label for="inputPassword" class="col-sm-4 form-control-label">Address</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="inputPassword" placeholder="text" value="55 North Steyne<br> Manly NSW">
            </div>
        </div>
        <div class="form-group row">
            <label for="inputPassword" class="col-sm-4 form-control-label">Phone</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="inputPassword" placeholder="text" value="(02) 9977 7666">
            </div>
        </div>
        <div class="form-group row">
            <label for="inputPassword" class="col-sm-4 form-control-label">Website</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="inputPassword" placeholder="text" value="http://www.novotelmanlypacific.com.au">
            </div>
        </div>
    </section>

    <!-- Second Level -->
    <section class="">
        <div class="form-group row">
            <label for="setting" class="col-sm-4 form-control-label">Facebook</label>
            <div class="col-sm-8">

                <!-- Print Value as Normal -->
                <input type="text" class="form-control" id="setting" placeholder="" value="">
            </div>
        </div>

        <!-- /.row -->
        
<!-- Show Expanded Underneath --></section>

    <!-- Second Level -->
    <section class="">
        <div class="form-group row">
            <label for="setting" class="col-sm-4 form-control-label">Linked in</label>
            <div class="col-sm-8">

                <!-- Print Value as Normal -->
                <input type="text" class="form-control" id="setting" placeholder="" value="">
            </div>
        </div>

        <!-- /.row -->
        
<!-- Show Expanded Underneath --></section>

    <!-- Second Level -->
    <section class="">
        <div class="form-group row">
            <label for="setting" class="col-sm-4 form-control-label">Google plus</label>
            <div class="col-sm-8">

                <!-- Print Value as Normal -->
                <input type="text" class="form-control" id="setting" placeholder="" value="">
            </div>
        </div>

        <!-- /.row -->
        
<!-- Show Expanded Underneath --></section>

    <!-- Second Level -->
    <section class="">
        <div class="form-group row">
            <label for="setting" class="col-sm-4 form-control-label">Instagram</label>
            <div class="col-sm-8">

                <!-- Print Value as Normal -->
                <input type="text" class="form-control" id="setting" placeholder="" value="http://instagram.com/artiqulet">
            </div>
        </div>

        <!-- /.row -->
        
<!-- Show Expanded Underneath --></section>

    <!-- Second Level -->
    <section class="">
        <div class="form-group row">
            <label for="setting" class="col-sm-4 form-control-label">Google analytics</label>
            <div class="col-sm-8">

                <!-- Print Value as Normal -->
                <input type="text" class="form-control" id="setting" placeholder="" value="UA-XXXXXXXX-X">
            </div>
        </div>

        <!-- /.row -->
        
<!-- Show Expanded Underneath --></section>

    <!-- Second Level -->
    <section class="">
        <div class="form-group row">
            <label for="setting" class="col-sm-4 form-control-label">Author</label>
            <div class="col-sm-8">

                <!-- Print Value as Normal -->
                <input type="text" class="form-control" id="setting" placeholder="" value="{" title>"Mitch", "url"=>"http://liquidvisual.com", "logo"=>"/assets/img/ui/liquidvisual-logo.svg", "description"=>"liquidvisual"}"></div>
        </div>

        <!-- /.row -->
        
<!-- Show Expanded Underneath --></section>
</form>