
<!-- http://stackoverflow.com/questions/13491657/javascript-library-to-convert-web-page-to-pdf --><h2>Sitemap</h2>
<br>
<a class="btn btn-secondary" href="#" role="button">
    <i class="fa fa-print"></i> Print</a>
<a class="btn btn-secondary" href="#" role="button">
    <i class="fa fa-download"></i> Download PDF</a>
<div class="sitemap">
    <ul id="utilityNav"></ul>
    <br>
    <br>
    <br>
    <br>
    <ul id="primaryNav" class="">
        <li>
            <a href="#/preview#home">
                <small>#home</small>
                <br>
                <span class="top-count">1</span> Home</a>
        </li>
        <li>
            <a href="#/preview#event-details">
                <small>#event-details</small>
                <br>
                <span class="top-count">2</span> Event Details</a>
        </li>
        <li>
            <a href="#/preview#accommodation">
                <small>#accommodation</small>
                <br>
                <span class="top-count">3</span> Accommodation</a>
        </li>
        <li>
            <a href="#/preview#wishing-well">
                <small>#wishing-well</small>
                <br>
                <span class="top-count">4</span> Wishing Well</a>
        </li>
        <li>
            <a href="#/preview#instagram">
                <small>#instagram</small>
                <br>
                <span class="top-count">5</span> Instagram</a>
        </li>
        <li>
            <a href="#/preview#rsvp-now">
                <small>#rsvp-now</small>
                <br>
                <span class="top-count">6</span> RSVP Now</a>
        </li>
    </ul>
</div>